.gradText {
  background: linear-gradient(90deg, #ff7714 0%, #ffcf59 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

body {
  background-color: '#F9FBFC';
}